*{
    max-width: 1280px;
  }
  .food-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  @media (min-width: 1280px) {
    *{
      max-width: 1280px;
    }
    .food-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 768px) {
    .food-container{
      margin-top: -1em;
    }
  }
  .food-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .food-card:hover{
    scale: 1.01;
    transition: 3s;
  }
  .aspect-ratio {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
  
  .aspect-ratio img {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 95%;
    object-fit: cover;
  }
  
  .food-desc {
    padding: 1rem 0rem 0 1rem;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .order-button, .cart-button {
    font-weight: 600;
  }
  
  .food-image {
    border-radius: 2rem;
    padding: 0.5rem;
  }